<% include ./partials/header %>

<div class="container text-center" style="  padding-top:7rem;
  padding-bottom:7rem; ">
  <div class="row">
    <div class="col mx-auto">
      <legend style="text-align: center; font-size: 2em;  line-height: 1; color:gray"><i class="fas fa-4x fa-hand-holding-usd"></i></legend>
      <br>
      <h1 style="font-size: 5rem; font-family: 'Kalam'; color: gray" class="mb-3">MyFuel</h1>
      <h2>Το <span style="font-family: 'Kalam'">MyFuel</span> είναι μια προσπάθεια της ομάδας PowerPuff-Boys να φέρει τις πιο οικονομικές προσφορές σε καύσιμα πιο κοντά στο καταναλωτικό κοινό.</h2>
      <br><h4>Δημιουργήθηκε το 2019 και έχει ως στόχο τη δημιουργία ενός ανεξάρτητου διαδικτυακού παρατηρητηρίου τιμών, και κατ' επέκταση μιας ανεξάρτητης κοινότητας, που λειτουργεί χάρη στον πληθοπορισμό.</h4>
    </div>
  </div>
</div>



<% include ./partials/footer %>
