<% include ./partials/header %>

<div class="container mt-5 mb-10">
  <legend style="text-align: center; font-size: 2em;  line-height: 1; color:gray"><i class="fas fa-4x fa-hand-holding-usd"></i></legend>
  <br>
  <h1 style="font-size: 5rem; font-family: 'Kalam'; color: gray; text-align: center" class="mb-3">MyFuel</h1>
  <br>
  <h2 style="text-align: center">Συχνές Ερωτήσεις</h2>
  <br>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseOne">
            Τι σημαίνουν οι διαθεσιμότητες προϊόντων;
          </button>
        </h5>
      </div>

      <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          H διαθεσιμότητα των προϊόντων εμφανίζεται στην σελίδα του προϊόντος.
          Το προϊόν μπορεί να είναι:
          <ul>
            <li>Τελευταία κομμάτια : Είναι διαθέσιμο για ηλεκτρονική αγορά, αλλά έχει περιορισμένη διαθεσιμότητα και θα τηρείται σειρά προτεραιότητας σε περίπτωση εξάντλησης των αποθεμάτων.</li>
            <li>Προ-παραγγελία : Είναι διαθέσιμο για προ-παραγγελία και η ημερομηνία παράδοσης εξαρτάται από την επίσημη ημέρα κυκλοφορίας του. Τηρείται σειρά προτεραιότητας.</li>
            <li>Διαθέσιμο από ΗΗ/ΜΜ/ΕΕΕΕ : Eίναι διαθέσιμο από την αναγραφόμενη ημερομηνία και έπειτα. Οι παραγγελίες με αυτή τη διαθεσιμότητα εκτελούνται σύμφωνα με την ημερομηνία διάθεσης των προϊόντων, η οποία ορίζεται από τον προμηθευτή.</li>
            <li>Κατόπιν παραγγελίας : Δεν είναι διαθέσιμο στα καταστήματα μας, αλλά το αναζητούμε για σένα στο δίκτυο προμηθευτών μας. *Θα ενημερωθείς μέσω email εντός 5 εργάσιμων ημερών για την διαθεσιμότητά του από τον προμηθευτή, καθώς και για την εκτιμώμενη ημερομηνία παραλαβής.</li>
            <li>Κατηργημένη έκδοση (για βιβλία, μουσική, ταινίες) : Δεν είναι διαθέσιμο για παραγγελία. Έχει χαρακτηριστεί από τον εκδότη κατηργημένη έκδοση και δεν προβλέπεται η επανακυκλοφορία του.</li>
            <li>Προσωρινά εξαντλημένο / Εξαντλημένο : Δεν είναι διαθέσιμο για παραγγελία αυτή τη στιγμή. Αναμένεται και θα είναι διαθέσιμο σύντομα.</li>
          </ul>


          Επιπλέον, σε κάποια απο τα προϊόντα μας υπάρχουν οι παρακάτω ενδείξεις:

              Διαθέσιμο μόνο σε κατάστημα Το προϊόν δεν είναι διαθέσιμο για καταχώρηση ηλεκτρονικής παραγγελίας αλλά υπάρχει αποκλειστικά στα καταστήματά μας. Στη σελίδα του προϊόντος μπορείς να δεις τη λίστα με τα καταστήματα που είναι διαθέσιμο τη δεδομένη στιγμή.
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapse8" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapse9" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br>
  </div>
</div>



<% include ./partials/footer %>
