<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-lg-6 col-10" style="margin: 10px auto; box-shadow: 0px 0px 5px #cccccc; padding: 20px;">
      <form action="/forgot" method="POST" >
        <legend style="text-align: center; padding: 10px 20px 0px 20px; font-size: 2em;  line-height: 1; color: gray"><i class="fas fa-2x fa-hand-holding-usd"></i></legend>
        <legend style="text-align: center; padding: 10px 20px 20px 20px; font-size: 2em; line-height: 1;">Ανάκτηση Λογαριασμού</legend>
        <legend style="text-align: center; font-size: 1em;">Πληκτρολογήστε τη διεύθυνση email του MyFuel λογαριασμού σας. Θα σας στείλουμε σχετικές οδηγίες για την άμεση ανάκτηση του!</legend>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" value="" placeholder="example@example.com" required autofocus>
        </div>
        <div class="form-group">
          <button class="btn btn-large btn-primary btn-block" type="submit" name="button">Αποστολή email</button> <!-- BE CAREFUL - type="submit" -->
        </div>
          <a class="btn btn-default pl-0" href="/">Πίσω</a>
      </form>
    </div>
  </div>
</div>

<% include ./partials/footer %>
