<% include ./partials/header %>

<div class="container" style="margin-top: 5rem; margin-bottom: 10rem;">
    <h2 class="text-center">ΠΟΛΙΤΙΚΗ ΑΠΟΡΡΗΤΟΥ</h2>

  <p>Η Πολιτική Απορρήτου αφορά την Πολιτική Προστασίας Προσωπικών Δεδομένων και περιγράφει τις πρακτικές μας σχετικά με τις αναγνωρίσιμες προσωπικές πληροφορίες που συλλέγουμε μέσω της ιστοσελίδας μας www.powerpuff.gr. Αυτή η πολιτική δεν ασχολείται με τις πρακτικές μας σχετικά με πληροφορίες που συλλέγονται από οποιοδήποτε άλλη ιστοσελίδα ή μέσο, ούτε την πολιτική που διέπει τη συλλογή, χρήση ή αποκάλυψη πληροφορίων από τρίτους.</p>
<p>  Με τη χρήση της ιστοσελίδας, συμφωνείτε με τους όρους και τις προϋποθέσεις της παρούσας Πολιτικής Απορρήτου. Σε περίπτωση που δεν συμφωνείτε με τους συγκεκριμένους όρους και την παρούσα Πολιτική παρακαλούμε μην χρησιμοποιείτε την ιστοσελίδα. Διατηρούμε το δικαίωμα να αλλάξουμε την Πολιτική Απορρήτου χωρίς προηγούμενη ειδοποίηση. Οποιαδήποτε αλλαγή στην Πολιτική Απορρήτου μας τίθεται σε ισχύ μετά την ανάρτηση της αναθεωρημένης πολιτικής στην ιστοσελίδα μας. Η χρήση του δικτυακού τόπου μετά από τυχόν αλλαγές σημαίνει και την αποδοχή της Πολιτικής σε ισχύ.
</p>
<p>  Η ιστοσελίδα δεν απευθύνεται για χρήση από άτομα κάτω των 18 και ζητούμε αυτά τα άτομα να μην παρέχουν προσωπικές πληροφορίες μέσω της ιστοσελίδας.
</p>
<p>
  <h4>  Πληροφορίες που συλλέγονται από την Ιστοσελίδα
</h4>
<p>  Η ιστοσελίδα συγκεντρώνει δύο βασικά είδη πληροφορίων: «Προσωπικά Δεδομένα» και «Μη-Προσωπικά Στοιχεία Ταυτότητας». Ως Προσωπικά Δεδομένα αναγνωρίζονται οι πληροφορίες που προσδιορίζουν τη συγκεκριμένη ταυτότητα ενός χρήστη. Μη-Προσωπικά Στοιχεία Ταυτότητας, είναι οι πληροφορίες που δεν αποκαλύπτουν τη συγκεκριμένη ταυτότητα ενός ατόμου αλλά προσδιορίζουν συγκεντρωτικά στοιχεία, δημογραφικά στοιχεία, διευθύνσεις IP, κ.α.
</p>
<h4>  Προσωπικά Δεδομένα
</h4>
<p>  Δεν χρειάζεται να εισάγετε προσωπικά δεδομένα για να χρησιμοποιήσετε την ιστοσελίδα. Ωστόσο, για να μπορέσετε να εκμεταλλευτείτε ευκαιρίες που παρέχονται μέσω της ιστοσελίδας μας (για παράδειγμα να επικοινωνήσετε μαζί μας μέσω του info@powerpuff.com ) πρέπει να παραχωρήσετε κάποια προσωπικά στοιχεία. Τα προσωπικά δεδομένα που συλλέγουμε μέσω της ιστοσελίδας μας, αφορούν κυρίως το ονοματεπώνυμο, και την ηλεκτρονική διεύθυνση του χρήστη, και προσκομίζονται αποκλειστικά και μόνο οικειοθελώς από το χρήστη.
</p>
<h4>  Μη-Προσωπικά Στοιχεία Ταυτότητας
</h4>
<p>  Όταν ο χρήστης επισκέπτεται και αλληλεπιδρά με τον δικτυακό μας τόπο, η ιστοσελίδα μας www.powerpuff.gr, καθώς και οι πάροχοι υπηρεσιών και επιχειρηματικοί εταίροι που συνεργαζόμαστε, συλλέγουν μη-προσωπικά στοιχεία του χρήστη που επισκέπτεται την ιστοσελίδα (για παράδειγμα, μια λίστα των ιστοσελίδων που ο χρήστης επισκέπτεται). Γενικώς τα Μη-Προσωπικά Στοιχεία Ταυτότητας, συλλέγονται από δύο διαφορετικές πηγές: α) τα αρχεία καταγραφής του διακομιστή, β) τα cookies.
</p>
<ul>
  <li>  A. Αρχεία καταγραφής διακομιστή. Η IP (Internet Protocol) διεύθυνση είναι ένας αριθμός που αποδίδεται αυτόματα στον υπολογιστή που χρησιμοποιεί ο χρήστης με την υπηρεσία παροχής Internet (ISP). Ο αριθμός αυτός προσδιορίζεται και καταγράφεται αυτόματα στο διακομιστή αρχείων καταγραφής μας κάθε φορά που ο χρήστης επισκέπτεται την ιστοσελίδα μας. Η συλλογή αυτών των πληροφοριών βοηθούν στη διάγνωση προβλημάτων σχετικά με το διακομιστή της ιστοσελίδας και τη διαχείριση του δικτυακού τόπου. Η συλλογή IP διευθύνσεων αποτελεί πάγια πρακτική στο Διαδίκτυο και γίνεται αυτομάτως από πολλές ιστοσελίδες.
</li>
<li>  B. Cookies. Η ιστοσελίδα μας μπορεί να χρησιμοποιεί «cookies». Τα cookies είναι δεδομένα που μεταβιβάζει ένας web server στον υπολογιστή ενός χρήστη για την τήρηση αρχείων, καθώς και άλλους σκοπούς. Τα cookies είναι ένα βιομηχανικό πρότυπο που χρησιμοποιείτε από τις περισσότερες ιστοσελίδες για να διευκολύνει την συνεχή και ομαλή πρόσβαση των χρηστών στο συγκεκριμένο δικτυακό τόπο. Τα cookies δεν προκαλούν ζημιά στα συστήματα ή τα αρχεία του υπολογιστή του χρήστη. Αν ο χρήστης δεν επιθυμεί να συλλέγονται οι πληροφορίες μέσω της χρήσης των cookies, υπάρχει μια απλή διαδικασία στα περισσότερα προγράμματα πλοήγησης που επιτρέπουν την αυτόματη απόρριψη των cookies, ή το δικαίωμα αποδοχής/μη-αποδοχής της μεταφοράς ενός συγκεκριμένου cookie ή cookies από μια συγκεκριμένη ιστοσελίδα στον υπολογιστή του χρήστη.
</li>
</ul>

<h4>  Σημαντικές επισημάνσεις σχετικά με τις πρακτικές προστασίας προσωπικών δεδομένων
</h4>

<h4>  Δικτυακοί τόποι τρίτων
</h4>
<p>  Η Ιστοσελίδα μπορεί να περιέχει συνδέσμους σε δικτυακούς τόπους τρίτων. Οι συγκεκριμένες σελίδες δεν βρίσκονται υπό τον έλεγχό μας και δεν είμαστε υπεύθυνοι για τις πρακτικές προστασίας προσωπικών δεδομένων ή το περιεχόμενο που περιλαμβάνεται σε οποιαδήποτε συνδεδεμένη ιστοσελίδα. Οι σύνδεσμοι αυτοί παρέχονται για ευκολία και η συμπερίληψη ενός συνδέσμου στον δικτυακό μας χώρο δεν υποδηλώνει έγκριση του συγκεκριμένου ιστότοπου από εμάς.
</p>
<p>  Εάν ο χρήστης παρέχει οποιαδήποτε στοιχεία προσωπικών δεδομένων μέσω οποιασδήποτε τέτοιας ιστοσελίδας τρίτου μέρους, η συναλλαγή του θα εμφανιστεί στην ιστοσελίδα αυτού του τρίτου προσώπου και το προσωπικά δεδομένα του χρήστη που θα συλλεχθούν και θα υπάγονται στην πολιτική προστασίας προσωπικών δεδομένων της εν λόγω ιστοσελίδας. Η συγκεκριμένη Πολιτική Απορρήτου δεν άφορα την πολιτική προστασίας προσωπικών δεδομένων τρίτων.
</p>

<h4>  Ασφάλεια
</h4>
<p>  Επιδιώκουμε να έχουμε όλα τα μέτρα και τα εργαλεία ασφαλείας, που βοηθούν στην προστασία έναντι της κακής χρήσης και αλλοίωσης των πληροφορίων υπό τον έλεγχο μας. Δυστυχώς, καμία μεταφορά δεδομένων μέσω Διαδικτύου, ή σύστημα αποθήκευσης δεδομένων δεν μπορεί να είναι 100% εγγυημένη και ασφαλής. Ο χρήστης αποδέχεται και συμφωνεί ότι οποιαδήποτε πληροφορία που μεταδίδετε ή αποθηκεύεται μέσω της ιστοσελίδας, γίνεται με δικιά του ευθύνη.
</p>

<h4>  Επικοινωνία
</h4>
<p>  Για ερωτήσεις σχετικά με την παρούσα Πολιτική Απορρήτου, παρακαλούμε επικοινωνήστε μαζί μας μέσω email στο info@powerpuff.com. Ενημερώνουμε ότι οι επικοινωνίες ηλεκτρονικού ταχυδρομείου δεν είναι απαραίτητα ασφαλείς. Κατά συνέπεια ο χρήστης δεν θα πρέπει να συμπεριλαμβάνει στοιχεία όπως ο αριθμός πιστωτικής κάρτας ή άλλες ευαίσθητες πληροφορίες στην αλληλογραφία email μαζί μας.
</p>

</div>

<% include ./partials/footer %>
