<% include ./partials/header %>

<body onLoad="uncheck()">

<div class="container">
  <div class="row">
      <div class="col-md-8 col-sm-8 col-lg-6 col-10" style="margin: 10px auto; box-shadow: 0px 0px 5px #cccccc; padding: 20px;">
      <form action="/register" method="POST" enctype="multipart/form-data">
        <legend style="text-align: center; padding: 10px 20px 0px 20px; font-size: 2em;  line-height: 1; color: gray"><i class="fas fa-2x fa-hand-holding-usd"></i></legend>
        <legend style="text-align: center; padding: 10px 20px 20px 20px; font-size: 2em; line-height: 1;">Δημιουργία νέου λογαριασμού</legend>
        <div class="form-group">
          <label for="username">Όνομα Χρήστη</label>
          <input class="form-control" type="text" name="username" value="" placeholder="username" required autofocus>
        </div>
        <div class="form-group">
          <label for="password">Κωδικός Πρόσβασης</label>
          <input class="form-control" type="password" name="password" value="" placeholder="password" required>
        </div>
        <div class="form-group">
          <label for="firstName">Όνομα</label>
          <input class="form-control" type="text" name="firstName" value="" placeholder="first name" required>
        </div>
        <div class="form-group">
          <label for="lastName">Επίθετο</label>
          <input class="form-control" type="text" name="lastName" value="" placeholder="last name" required>
        </div>
        <div class="form-group">
          <label for="lastName">Διεύθυνση</label>
          <input class="form-control" type="text" name="address" value="" placeholder="Ηρώων Πολυτεχνείου 9, Αθήνα, 15780" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" value="" placeholder="example@example.com" required>
        </div>
        <div class="form-group">
          <label for="avatar">Εικόνα Προφίλ</label>
          <input class="form-control-file" type="file" id="avatar" name="avatar" accept="image/*">
        </div>
        <div class="form-group">
          <label for="adminCode">Admin Code</label>
          <input class="form-control" type="password" name="adminCode" value="" placeholder="admin code">
        </div>
        <div class="form-check">
          <input id="checkbox" type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Έχω διαβάσει και συμφωνώ με τους <a href="" data-toggle="modal" data-target="#exampleModalLong">Όρους Χρήσης</a></label>
        </div>
        <br>
        <fieldset disabled>
          <div class="form-group">
            <button id="signup-button" class="btn btn-large btn-primary btn-block disabled" type="submit" name="button">Εγγραφή</button> <!-- BE CAREFUL - type="submit" -->
          </div>
        </fieldset>
      </form>
      <a class="btn btn-default pl-0" href="/">Πίσω</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Όροι Χρήσης και Προϋποθέσεις</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        ΟΡΟΙ ΚΑΙ ΠΡΟΫΠΟΘΕΣΕΙΣ ΧΡΗΣΗΣ ΤΟΥ ΠΑΡΟΝΤΟΣ ΔΙΚΤΥΑΚΟΥ ΤΟΠΟΥ
1. Ο παρών δικτυακός τόπος δημιουργήθηκε προκειμένου να προσφέρει πληροφορίες και υπηρεσίες στους επισκέπτες. Η χρήση του διέπεται από τους παρόντες όρους και προϋποθέσεις, τους οποίους οι επισκέπτες καλούνται να διαβάσουν προσεκτικά και να συμμορφώνονται με αυτούς. Οπωσδήποτε, η παραμονή του επισκέπτη στις σελίδες του παρόντος δικτυακού τόπου καθώς και η αξιοποίηση οποιασδήποτε πληροφορίας παρέχεται μέσα από αυτές τις σελίδες συνεπάγεται ανεπιφύλακτη αποδοχή των παρόντων όρων και προϋποθέσεων.
2. Οι ανήλικοι απαγορεύεται να επισκέπτονται τις ιστοσελίδες του παρόντος δικτυακού τόπου, καθότι σύμφωνα με το νόμο αυτές απευθύνονται αποκλειστικά σε ενήλικες. Αν ανήλικοι αυτοβούλως επισκεφθούν ιστοσελίδες ή κάνουν χρήση υπηρεσιών προσβάσιμων μέσα από τις σελίδες του παρόντος δικτυακού τόπου, οι οποίες είναι δυνατόν να θεωρηθούν ακατάλληλες ή επιβλαβείς γι’ αυτούς, οι διαχειριστές του παρόντος δικτυακού τόπου δε φέρουν ουδεμία ευθύνη.
<br>3. Οι παρόντες όροι και προϋποθέσεις είναι πιθανό ότι θα τροποποιηθούν στο μέλλον χωρίς προειδοποίηση. Εν΄ τούτοις, η παρούσα σελίδα πάντα θα αναφέρει τους τρέχοντες όρους και τις τρέχουσες προϋποθέσεις για τη χρήση αυτού του δικτυακού τόπου.
<br>4. Ο παρόν δικτυακός τόπος χρησιμοποιείται «ως έχει», χωρίς τη δυνατότητα τροποποιήσεων ή άλλων παρεμβάσεων από μη-πιστοποιημένους επισκέπτες.
<br>5. Ο παρόν δικτυακός τόπος είναι πιθανόν να παραπέμπει μέσω “συνδέσμων”, hyperlinks ή διαφημιστικών banners σε άλλες ιστοσελίδες, οι πάροχοι των οποίων έχουν και την πλήρη (αστική και ποινική) ευθύνη για την ασφάλεια, το σύννομο και την εγκυρότητα του περιεχομένου των ιστοσελίδων και υπηρεσιών τους, αποκλειομένης κάθε ευθύνης της ιδιοκτήτριας εταιρείας του παρόντος δικτυακού τόπου, όπως ενδεικτικά ευθύνης περί δικαιωμάτων πνευματικής και βιομηχανικής ιδιοκτησίας ή οποιουδήποτε δικαιώματος τρίτου. Ως εκ τούτου οι επισκέπτες υποχρεούνται να συμμορφώνονται με τους όρους χρήσης των ιστοσελίδων αυτών και να απευθύνονται απευθείας στους παρόχους αυτών για οτιδήποτε προκύψει από την επίσκεψη ή/και χρήση αυτών.
<br>6. Εκτός συγκεκριμένων δικαιωμάτων τρίτων (πνευματικά και άλλα), όλο το περιεχόμενο που κάθε φορά περιέχεται στον παρόντα δικτυακό τόπο (ενδεικτικά: σήματα, διακριτικά γνωρίσματα, φωτογραφίες, κείμενα και όλα εν γένει τα αρχεία), αποτελεί πνευματική εμπορική και βιομηχανική ιδιοκτησία των ιδιοκτητών και προστατεύεται από τις σχετικές διατάξεις του ελληνικού, κοινοτικού και διεθνούς δικαίου. Το περιεχόμενο αυτό δεν δύναται να αποτελέσει εν όλο ή εν μέρει αντικείμενο εμπορίου, αντιγραφής, τροποποίησης, αναπαραγωγής, αναμετάδοσης, ή να μεταδοθεί ή να διανεμηθεί με οποιονδήποτε τρόπο από οποιονδήποτε xρήστη.
<br>7. Οι επισκέπτες αποδέχονται, συμφωνούν και συνομολογούν ότι θα κάνουν σύννομη και πρόσφορη χρήση του παρόντος δικτυακού τόπου, υποκείμενοι εκτός των άλλων και στη νομοθεσία που αφορά την μετάδοση δεδομένων από την Ελλάδα προς κράτη-μέλη της Ευρωπαϊκής Ένωσης και τρίτες χώρες. Ως εκ τούτου, οι επισκέπτες ενδεικτικά και όχι περιοριστικά συμφωνούν ότι δεν θα κάνουν χρήση του παρόντος δικτυακού τόπου για:
α) Να προξενήσουν βλάβη σε ανήλικο.
β) Να μεταδώσουν ή να αποκτήσουν πρόσβαση σε περιεχόμενο που:
i) παραβιάζει οποιαδήποτε δικαιώματα τρίτων (πχ πνευματικής και βιομηχανικής ιδιοκτησίας),
ii) προσβάλει την προσωπικότητα τρίτων (πχ συκοφαντικό, ρατσιστικό),
iii) έρχεται σε αντίθεση με το νόμο και τα χρηστά και συναλλακτικά ήθη,
iv ) παρενοχλεί με οποιονδήποτε τρόπο την ιδιωτική ζωή και τα ατομικά και κοινωνικά δικαιώματα τρίτων.
γ) Να παραπλανήσουν οποιονδήποτε ως προς την προέλευση του περιεχομένου του παρόντος δικτυακού τόπου, να ζημιώσουν, με οποιονδήποτε τρόπο, τη φήμη των ιδιοκτητών ή τρίτων, να θέσουν σε κίνδυνο την ασφάλεια του δικτύου τους, να εμποδίσουν οποιονδήποτε επισκέπτη να έχει πρόσβαση στον παρόντα δικτυακό τόπο ή οποιοδήποτε υπηρεσία στεγάζεται στο δίκτυο των ιδιοκτητών ή να παρακάμπτουν τον έλεγχο της ταυτότητάς τους από αυτούς.
δ) Να εγκαταστήσουν και προωθήσουν, με οποιοδήποτε τρόπο, οποιουδήποτε είδους αυτόκλητη ή μη εξουσιοδοτημένη διαφήμιση ή μη ζητηθέντα από το λήπτη ηλεκτρονικά μηνύματα (spam), συστήματα πυραμίδων και οποιαδήποτε άλλη μορφή ανεπιθύμητης προώθησης περιεχομένου, καθώς και να εγκαταστήσουν και προωθήσουν διαφημίσεις χωρίς την έγγραφη συναίνεση των ιδιοκτητών.
ε) Να εγκαταστήσουν, προωθήσουν ή/και διαθέσουν περιεχόμενο που περιέχει ιούς λογισμικού ή οποιοδήποτε άλλο ηλεκτρονικό κώδικα, αρχεία ή προγράμματα σχεδιασμένα να παρεμβληθούν, καταστρέψουν ή περιορίσουν τη λειτουργία οποιουδήποτε λογισμικού ή τηλεπικοινωνιακού εξοπλισμού ή να εμποδίσουν άλλους επισκέπτες να χρησιμοποιούν τον παρόντα δικτυακό τόπο.
Σε κάθε περίπτωση παράνομης ή αντίθετης στους παρόντες Όρους χρήσης του παρόντος δικτυακού τόπου, οι επισκέπτες υποχρεούνται να αποζημιώνουν τους ιδιοκτήτες για κάθε θετική και αποθετική της ζημία. Η μη ενάσκηση από τους δικαιούχους των εκ των παρόντων Όρων δικαιωμάτων τους δεν συνεπάγεται παραίτησή τους από τα δικαιώματά τους αυτά.
<br>8. Για την πρόσβαση σε ορισμένες υπηρεσίες ή για τη σύνδεση με ορισμένες ιστοσελίδες, ενδέχεται να ζητηθούν από τους ιδιοκτήτες τα στοιχεία των επισκεπτών με σκοπό την απονομή σχετικού κωδικού (ή κωδικών) πρόσβασης. Τα ανωτέρω στοιχεία, πρέπει να είναι πάντοτε αληθή, ακριβή, έγκυρα και πλήρη. Οι επισκέπτες είναι υπεύθυνοι για όλες τις πράξεις που διενεργούνται με τον κωδικό πρόσβασης και υποχρεούνται να ειδοποιούν άμεσα την ιδιοκτήτρια εταιρεία για οποιαδήποτε μη εξουσιοδοτημένη χρήση αυτού και για οποιαδήποτε (ακόμα και για ενδεχόμενη) παραβίαση ασφαλείας. Τα στοιχεία αυτά δε γνωστοποιούνται από τους ιδιοκτήτες σε τρίτους υπό οποιεσδήποτε συνθήκες. Οι ιδιοκτήτες δεν ευθύνονται για οποιαδήποτε βλάβη ή ζημία τυχόν προκύψει από την αυθαίρετη ή παράνομη χρήση του κωδικού πρόσβασης από τρίτους, λόγω διαρροής του ή για οποιονδήποτε άλλο λόγο και διατηρούν το δικαίωμα να ζητήσουν την καταβολή αποζημίωσης από τον επισκέπτη, σε περίπτωση που υποστούν οποιουδήποτε είδους ζημία από την αυθαίρετη ή παράνομη χρήση του κωδικού πρόσβασης. Οι ιδιοκτήτες δικαιούνται οποτεδήποτε να αρνηθούν την απονομή κωδικού πρόσβασης ή να ακυρώσουν απονεμηθέντα κωδικό ή να τερματίσουν την παροχή των υπηρεσιών αυτών στον επισκέπτη και να αρνηθούν οποιαδήποτε τρέχουσα ή μέλλουσα χρήση του παρόντος δικτυακού τόπου σε περίπτωση παραβίασης των Όρων Χρήσης.
<br>9. Οι ιδιοκτήτες δεν φέρουν, έναντι των χρηστών, ευθύνη για τυχόν διαρροή των προσωπικών τους δεδομένων λόγω χρήσης εκ μέρους τους, μέσα από της σελίδες του παρόντος δικτυακού τόπου, προϊόντων και υπηρεσιών τρίτων.
<br>10. Οι ιδιοκτήτες μπορούν να χρησιμοποιούν session cookies για την αναγνώριση της ταυτότητας του επισκέπτη. Τα session cookies είναι μικρά κομάτια κώδικα που αποθηκεύονται στη μνήμη του υπολογιστή του επισκέπτη, δεν λαμβάνουν γνώση οποιουδήποτε εγγράφου ή αρχείου από τον υπολογιστή του και χρησιμοποιούνται μόνο για τη διευκόλυνση πρόσβασης του επισκέπτη σε συγκεκριμένες υπηρεσίες και (ενίοτε) για στατιστικούς λόγους, προκειμένου να καθορίζονται οι περιοχές στις οποίες οι υπηρεσίες του παρόντος δικτυακού τόπου είναι χρήσιμες ή δημοφιλείς ή για λόγους marketing. O επισκέπτης μπορεί να ρυθμίσει το διακομιστή του, ώστε να μην λαμβάνει session cookies , είτε συνολικά, είτε κατά περίπτωση. Σε τέτοια περίπτωση ο επισκέπτης δεν θα μπορεί να έχει περαιτέρω πρόσβαση στις υπηρεσίες αυτές.
<br>11. Οι παρόντες Όροι και Προϋποθέσεις Χρήσης και κάθε τροποποίησή τους διέπονται από το Ελληνικό Δίκαιο. Για κάθε διαφορά που τυχόν προκύψει από την παρούσα σύμβαση αρμόδια ορίζονται τα καθ’ ύλη δικαστήρια των Αθηνών.
      </div>
      <div class="modal-footer">
        <button id="decline" type="button" class="btn btn-default" data-dismiss="modal">Δεν αποδέχομαι</button>
        <button id="accept" type="button" class="btn btn-primary" data-dismiss="modal">Αποδέχομαι</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function uncheck() {
    $(':checkbox:checked').prop('checked',false);
    $("fieldset").attr("disabled");
  }

  $("#checkbox").change(function(){
    $("#signup-button").toggleClass("disabled");
    if($("fieldset").attr("disabled")) {
      $("fieldset").removeAttr("disabled");
    } else {
      $("fieldset").attr("disabled","");
    }
  });

  $("#accept").click(function(){
    $("#checkbox").prop("checked", true);
    $("#signup-button").removeClass("disabled");
    $("fieldset").removeAttr("disabled");
  });

  $("#decline").click(function(){
    $("#checkbox").prop("checked", false);
    $("#signup-button").addClass("disabled");
    $("fieldset").attr("disabled","");
  });

</script>

<% include ./partials/footer %>
