<% include ./partials/header %>

<div class="row">

  <div class="col-md-4">

    <div class="thumbnail">

        <img src="/img/unleaded95.png" alt="unleaded" style="width:100%">

        <div class="caption">

          <p>Unleaded 95</p>

        </div>

      </a>

    </div>

  </div>

  <div class="col-md-4">

    <div class="thumbnail">

        <img src="/img/nature.jpg" alt="unleaded 100" style="width:100%">

        <div class="caption">

          <p>Unleaded 100</p>

        </div>

      </a>

    </div>

  </div>

  <div class="col-md-4">

    <div class="thumbnail">

        <img src="/img/fjords.jpg" alt="diesel" style="width:100%">

        <div class="caption">

          <p>Diesel</p>

        </div>

      </a>

    </div>

  </div>

</div>

<% include ./partials/footer %>
